<div class="main-grid">
    <section class="bread-crumb" >
        <div class="flex bet middle">
            <div class="md:col-8 sm:col-12 p-0">
                <app-hrm-breadcrumb [items]="itemsBreadcrumb" ></app-hrm-breadcrumb>
            </div>
            <div class="md:col-4 sm:col-0 p-0 flex justify-content-end align-items-center dropdown-branch">
                <p-dropdown [options]="listBranchs" [(ngModel)]="query.branchId" [autoDisplayFirst]="false" optionLabel="branchName" optionValue="branchId" (onChange)="changeBranch()" [appendTo]="'body'" [filter]="true" filterBy="branchName"></p-dropdown>
            </div>
        </div>
    </section>
    <!-- this.organizeInfoService.setStocks(e.value); -->
    
    <div class="card ">
       <div class=" toolbar">
        <p-toolbar>
            <div class="p-toolbar-group-start">
                <!-- <p-button label="New" icon="pi pi-plus"></p-button> -->
                <!-- <p-button label="Upload" icon="pi pi-upload" styleClass="p-button-success"></p-button> -->
            </div>
            <div class="p-toolbar-group-end">
                <div class="p-inputgroup">
                    <input type="text"(onChange)="getLists()" pInputText placeholder="Keyword">   
                    <button type="button" pButton pRipple icon="pi pi-search" styleClass="p-button-warn"></button>      
                </div>
                <p-button icon="pi pi-filter-fill" styleClass="p-button-success" (click)="op.toggle($event)"></p-button>
                <p-overlayPanel #op [style]="{'width': '25rem'}" [dismissable]="true" appendTo="body" >
                    <ng-template pTemplate>
                        <div class="p-fluid grid formgrid">
                            <div class="field col-12 md:col-6">
                                <label for="dateformat">Từ ngày</label>
                                <p-calendar placeholder="Từ ngày" 
                                    panelStyleClass="datepicker-default" placeholder="Từ ngày (YYYY-MM-DD)"
                                    [appendTo]="'body'" [baseZIndex]="101" [(ngModel)]="query.startDate" 
                                    [monthNavigator]="true"
                                    [yearNavigator]="true" inputId="navigators" dateFormat="yy-mm-dd"
                                    name="startDate"></p-calendar>
                            </div>
                        
                            <div class="field col-12 md:col-6">
                                <label for="icon">Đến ngày</label>
                                <p-calendar placeholder="Từ ngày" 
                                panelStyleClass="datepicker-default" placeholder="Từ ngày (YYYY-MM-DD)"
                                [appendTo]="'body'" [baseZIndex]="101" [(ngModel)]="query.endDate" 
                                [monthNavigator]="true"
                                [yearNavigator]="true" inputId="navigators" dateFormat="yy-mm-dd"
                                name="endDate"></p-calendar>
                            </div>
                        </div>
                        <div class="p-fluid grid formgrid">
                            <div class="field col-12 md:col-12">
                                <label for="dateformat">Chu kỳ</label>
                                <p-dropdown [options]="listPeriod" [(ngModel)]="query.period" [autoDisplayFirst]="false" optionLabel="label" optionValue="value"  [appendTo]="'body'"  ></p-dropdown>
                            </div>
                        </div>

                        <div class="flex grid justify-content-end">
                            <button type="button" pButton pRipple icon="pi pi-search" label="Tìm kiếm" (click)="getLists()" class="p-button-warn mr-1"></button>  
                            <button type="button" pButton pRipple icon="pi pi-times" label="Làm mới" (click)="refresh()" class="p-button-danger"></button>  
                        </div>
                        
                    </ng-template>
                </p-overlayPanel>
                <p-button icon="pi pi-times" styleClass="p-button-danger"></p-button>
            </div>
        </p-toolbar>
       </div>
       <div class="table-default" #container>
        <p-table [value]="isLoading ? listDatasLoading : listDatas" 
         [resizableColumns]="true" [scrollable]="screenWidth> 960" scrollHeight="{{heightGrid}}px"
          responsiveLayout="stack" [breakpoint]="'960px'" styleClass="table-row  p-datatable-sm">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>#</th>
                    <th>Khách hàng</th>
                    <th>{{query.period === 2 ? 'Tháng' : query.period === 1 ? 'Tuần' : 'Quỹ'}}</th>
                    <th>Doanh thu</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-columns="columns">
                <tr >
                    <td><span class="p-column-title">#</span><p-skeleton *ngIf="isLoading"></p-skeleton>{{product.customerId}}</td>
                    <td><span class="p-column-title">Khách hàng</span><p-skeleton *ngIf="isLoading"></p-skeleton>{{product.customerName}}</td>
                    <td><span class="p-column-title">Chu kỳ</span><p-skeleton *ngIf="isLoading"></p-skeleton>{{product.period | number}}</td>
                    <td><span class="p-column-title">Doanh thu</span><p-skeleton *ngIf="isLoading"></p-skeleton>{{product.revenue | number}}</td>
                </tr>
               
            </ng-template>
        </p-table>
        <!-- <p-table rowGroupMode="rowspan" groupRowsBy="representative.name" sortField="representative.name" [value]="isLoading ? listDatasLoading : listDatas"  [resizableColumns]="true" responsiveLayout="stack" [breakpoint]="'960px'" [tableStyle]="{'min-height': this.heightGrid + 'px'}"  styleClass="table-row  p-datatable-sm">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width:3rem">#</th>
                    <th>Representative</th>
                    <th>Name</th>
                    <th>Country</th>
                    <th>Company</th>
                    <th>Date</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-columns="columns" let-rowIndex="rowIndex" let-rowgroup="rowgroup" let-rowspan="rowspan">
                <tr >
                    <td><span class="p-column-title">#</span><p-skeleton *ngIf="isLoading"></p-skeleton>{{rowIndex}}</td>
                    <td *ngIf="rowgroup" [attr.rowspan]="rowspan"><span class="p-column-title">Representative</span><p-skeleton *ngIf="isLoading"></p-skeleton>{{product.representative.name}}</td>
                    <td><span class="p-column-title">Name</span><p-skeleton *ngIf="isLoading"></p-skeleton>{{product.name}}</td>
                    <td><span class="p-column-title">Country</span><p-skeleton *ngIf="isLoading"></p-skeleton>{{product.country.name}}</td>
                    <td><span class="p-column-title">Company</span><p-skeleton *ngIf="isLoading"></p-skeleton>{{product.company}}</td>
                    <td><span class="p-column-title">Date</span><p-skeleton *ngIf="isLoading"></p-skeleton>{{product.date}}</td>
                </tr>
               
            </ng-template>
        </p-table> -->
        <div class="paginator flex justify-content-end align-items-center" style="background-color: #fff;background-color: #fff;
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;">
            <span>Từ {{ countRecord.currentRecordStart }} đến {{ countRecord.currentRecordEnd }} trên tổng số {{ countRecord.totalRecord }} kết quả</span>
            <p-paginator [rows]="query.size" [totalRecords]="countRecord.totalRecord" [first]="first"
                (onPageChange)="paginate($event)" [rowsPerPageOptions]="[20,40,60,100,200,{ showAll: 'ALL' }]">
            </p-paginator>
        </div>
        </div>
        </div>
</div>