<div class="main-grid">
    <section class="bread-crumb" >
        <div class="flex bet middle">
            <div class="md:col-8 sm:col-12 p-0">
                <app-hrm-breadcrumb [items]="itemsBreadcrumb" ></app-hrm-breadcrumb>
            </div>
            <div class="md:col-4 sm:col-0 p-0 flex justify-content-end align-items-center dropdown-branch">
                <p-dropdown [options]="listBranchs" [(ngModel)]="query.branchId" [autoDisplayFirst]="false" optionLabel="branchName" optionValue="branchId" (onChange)="changeBranch()" [appendTo]="'body'" [filter]="true" filterBy="branchName"></p-dropdown>
            </div>
        </div>
    </section>
    <!-- this.organizeInfoService.setStocks(e.value); -->
    
    <div class="card ">
       <div class=" toolbar">
        <p-toolbar>
            <div class="p-toolbar-group-start">
                <!-- <p-button label="New" icon="pi pi-plus"></p-button> -->
                <!-- <p-button label="Upload" icon="pi pi-upload" styleClass="p-button-success"></p-button> -->
            </div>
            <div class="p-toolbar-group-end gap-1">
                <div class="p-inputgroup">
                    <input type="text"(change)="search()" [(ngModel)]="query.search" pInputText placeholder="Keyword">   
                    <button type="button" pButton pRipple icon="pi pi-search" styleClass="p-button-warn"></button>      
                </div>
                <p-button icon="pi pi-filter-fill" styleClass="p-button-success" (click)="op.toggle($event)"></p-button>
                <p-overlayPanel #op [style]="{'width': '25rem'}" [dismissable]="true" appendTo="body" >
                    <ng-template pTemplate>
                        <div class="p-fluid grid formgrid">
                            <div class="field col-12 md:col-6">
                                <label for="dateformat">Từ ngày</label>
                                <p-calendar placeholder="Từ ngày" 
                                    panelStyleClass="datepicker-default" placeholder="Từ ngày (YYYY-MM-DD)"
                                    [appendTo]="'body'" [baseZIndex]="101" [(ngModel)]="query.startDate" 
                                    [monthNavigator]="true"
                                    [yearNavigator]="true" inputId="navigators" dateFormat="yy-mm-dd"
                                    name="startDate"></p-calendar>
                            </div>
                        
                            <div class="field col-12 md:col-6">
                                <label for="icon">Đến ngày</label>
                                <p-calendar placeholder="Từ ngày" 
                                panelStyleClass="datepicker-default" placeholder="Từ ngày (YYYY-MM-DD)"
                                [appendTo]="'body'" [baseZIndex]="101" [(ngModel)]="query.endDate" 
                                [monthNavigator]="true"
                                [yearNavigator]="true" inputId="navigators" dateFormat="yy-mm-dd"
                                name="endDate"></p-calendar>
                            </div>
                        </div>
                        <div class="p-fluid grid formgrid">
                            <div class="field col-12 md:col-12">
                                <label for="dateformat">Chu kỳ</label>
                                <p-dropdown [options]="listPeriod" [(ngModel)]="query.period" [autoDisplayFirst]="false" optionLabel="label" optionValue="value"  [appendTo]="'body'"  ></p-dropdown>
                            </div>
                        </div>

                        <div class="flex grid justify-content-end">
                            <button type="button" pButton pRipple icon="pi pi-search" label="Tìm kiếm" (click)="search()" class="p-button-warn mr-1"></button>  
                            <button type="button" pButton pRipple icon="pi pi-times" label="Làm mới" (click)="refresh()" class="p-button-danger"></button>  
                        </div>
                        
                    </ng-template>
                </p-overlayPanel>
            </div>
        </p-toolbar>
       </div>
       <div class="table-default" #container>
        <app-list-grid-angular  *ngIf="!isLoading" [idGrid]="'my-table'" [isShowTotalBottom]="true"  [groupDefaultExpanded]="0" [columnsWithAggregation]="['revenue', 'customerName']"
        [listsData]="listDatas" [height]="heightGrid" [autoGroupColumnDef]="autoGroupColumnDef" [masterDetail]="true" (rowGroupOpenedCallback)="rowGroupOpenedCallback($event)"
        [columnDefs]="columnDefs" [getContextMenuItems]="getContextMenuItems" [getRowId]="getRowId"
        [detailCellRendererParams]="detailCellRendererParams"></app-list-grid-angular>
        <app-loading-grid *ngIf="isLoading" [cols]="cols" [lists]="20"></app-loading-grid>
        </div>
        </div>
</div>