@media screen and (max-width: 960px) {
    .table-row{
        &.p-datatable{
            .p-datatable-tbody {
                &> tr{
                    & > td{
                        padding: 3px 10px !important;
                    }
                }
            }
        }
    }
}
.ag-row-footer  {
    .ag-cell-range-right {
        font-weight: 600;
    }
}
.ag-row-group-expanded {
    .ag-group-value, .ag-group-child-count {
        font-weight: 600;
    }
}
