<div class="main-grid">
    <section class="bread-crumb" >
        <div class="flex bet middle">
            <div class="col-8 p-0">
                <app-hrm-breadcrumb [items]="itemsBreadcrumb" ></app-hrm-breadcrumb>
            </div>
            <div class="col-4 p-0 flex justify-content-end align-items-center dropdown-branch">
                <p-dropdown [options]="listBranchs" [(ngModel)]="query.branchId" optionLabel="branchName" (change)="changeBranch()" optionValue="branchId" [appendTo]="'body'" [filter]="true" filterBy="branchName"></p-dropdown>
            </div>
        </div>
    </section>
    <!-- this.organizeInfoService.setStocks(e.value); -->
    
    <div class="card ">
        <p-tabView [(activeIndex)]="indexTab" (onChange)="handleChange($event.index)">
            <p-tabPanel header="Sản phẩm không đạt biên độ lợi nhuận">
                <p-table [value]="products"  [resizableColumns]="true" responsiveLayout="stack" [breakpoint]="'960px'"  styleClass="table-row  p-datatable-sm">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th>Sản phẩm</th>
                            <th>Mã</th>
                            <th>Đơn vị</th>
                            <th>Chi nhánh</th>
                            <th>Giá mua</th>
                            <th>Giá bán</th>
                            <th>realMargin</th>
                            <th>standardMargin</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product let-columns="columns">
                        <tr>
                            <td><span class="p-column-title">Sản phẩm</span>{{product.productName}}</td>
                            <td><span class="p-column-title">Mã</span>{{product.barCode}}</td>
                            <td><span class="p-column-title">Đơn vị</span>{{product.unit}}</td>
                            <td><span class="p-column-title">Chi nhánh</span>{{product.branchName}}</td>
                            <td><span class="p-column-title">Giá bán</span>{{product.sellPrice | number}}</td>
                            <td><span class="p-column-title">realMargin</span>{{product.realMargin | number}}</td>
                            <td><span class="p-column-title">standardMargin</span>{{product.standardMargin | number}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            
            </p-tabPanel>
            <p-tabPanel header="Sản phẩm có tỷ lệ hỏng hủy vượt định mức">
                Content 2
            </p-tabPanel>
            <p-tabPanel header="Sản phẩm không có lãi">
                Content 3
            </p-tabPanel>
            <p-tabPanel header="Sản phẩm không phát sinh giao dịch theo chu kỳ">
                Content 3
            </p-tabPanel>
        </p-tabView>

        </div>
</div>