<div class="section">
  <ag-grid-angular 
    [style.height]="domLayout === '' ? height + 'px' : ''"
    [excelStyles]="excelStyles"
    [getContextMenuItems]="getContextMenuItems"
     #agGrid style="width: 100% "
     id="{{idGrid}}"
    class="ag-theme-alpine"
    [pinnedBottomRowData]="pinnedBottomData"
    [rowData]="listsData"
    [masterDetail]="masterDetail"
    [floatingFiltersHeight]="floatingFiltersHeight"
    [columnDefs]="columnDefs"
    [detailCellRendererParams]="detailCellRendererParams"
    [headerHeight]="headerHeight"
    [groupDefaultExpanded]="groupDefaultExpanded"
    [groupDisplayType]="'groupRows'"
    [overlayNoRowsTemplate]="noRowsTemplate"
    [tooltipShowDelay]="tooltipShowDelay"
    (gridReady)="onGridReady($event)"
    [defaultColDef]="defaultColDef"
    [enableCellTextSelection]="true"
    [getRowId]="getRowId"
    (rowGroupOpened)="rowGroupOpened($event)"
    [rowSelection]="'single'"
    (cellClicked)="CellClicked($event)"
    [getRowHeight]="getRowHeight"
    >
  </ag-grid-angular>
</div>


<!-- [groupIncludeFooter]="groupIncludeFooter" -->
<!-- [groupIncludeTotalFooter]="groupIncludeTotalFooter" -->